.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
archive/
01_BASICS/materials/
02_LEARNING-UNSUPERVISED//materials/
03_LEARNING-SEMISUPERVISED/materials/
04_LEARNING-SUPERVISED/materials/
05_LEARNING-REINFORCEMENT/materials/
06_FEATURE_ENGINERRING/materials/
07_DATA_PROBLEMS/materials/
08_OTHER_MODELS_AND_PROBLEMS/materials/
09_CASE_STUDIES/materials/
10_FIELDS_MODELS/materials/
99_APPENDIX/materials/




