.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
archive/
01_BASICS/
02_LEARNING-UNSUPERVISED/
03_LEARNING-SEMISUPERVISED/
04_LEARNING-SUPERVISED/
05_LEARNING-REINFORCEMENT/
06_FEATURE_ENGINERRING/
07_DATA_PROBLEMS/
08_OTHER_MODELS_AND_PROBLEMS/
09_CASE_STUDIES/
10_FIELDS_MODELS/
99_APPENDIX/




