.Rproj.user
.Rhistory
.RData
_publish.R
rsconnect
archive/
00_INTRO/materials
01_AUX/materials
02_PATTERNS/materials
03_TARGET/materials
04_HYBRID/materials
05_REINFORCEMENT/materials
06_PREPROCESSING/materials
07_OTHER/materials
99_/materials




